@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(233, 233, 233);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.slides .slide {
    height: 200px;
    width: 200px;
    background: red;
    /* border-radius: 10px; */
    border-radius: 50%;
    filter: grayscale(100%); /* blur(3px); */
    transition: .5s;
}

.slides .slide.active {
    filter: grayscale(0);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 5px solid rgb(214, 37, 81);
}

.slides .slide .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slides .slide .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    /* border-radius: 10px; */
    border-radius: 50%;
}

.slides .btn {
    font-size: 40px;
    color: #0c6086;
}

.slides .btn:hover {
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 25px;
}